<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>dyson</title>
        <link rel="stylesheet" href="stylesheets/webpro.css">
        <link rel="stylesheet" href="stylesheets/prism.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>

        <header>
            <h1>WebPro</h1>
        </header>

        <a href="https://github.com/webpro/dyson"><img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-orange@2x.png" alt="Fork me on GitHub"></a>

        <main>
            {{ content }}
        </main>

        <script src="javascripts/prism.js"></script>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-42001005-1");
                pageTracker._trackPageview();
            } catch(err) {
            }
        </script>

    </body>
</html>