<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="http://webpro.nl/stylesheet.css">
        <style type="text/css">
            header {
                border-bottom-color: #DDD;
            }
            header h1, header h1 a {
                color: #DDD;
            }
            section div {
                float: right;
                clear: right;
                line-height: 3em;
            }
            section a {
                text-decoration: none;
            }
            section img {
                vertical-align: middle;
            }
            .readme {
                font-size: 1.25em;
            }
        </style>
        <link rel="stylesheet" href="stylesheets/prism.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>

        <header>
            <h1><a href="https://webpro.nl" title="WebPro">WebPro</a></h1>
        </header>

        <a href="https://github.com/webpro/{{ page.title }}"><img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-orange@2x.png" alt="Fork me on GitHub"></a>

        <section class="subheader">
            <div>
                <a href="https://github.com/webpro">webpro</a>/<a href="https://github.com/webpro/{{ page.title }}">{{ page.title }}
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMi42IiBoZWlnaHQ9IjMxLjgiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjMTkxNzE3IiBkPSJNMTYuMyAwYy05IDAtMTYuMyA3LjMtMTYuMyAxNi4zIDAgNy4yIDQuNyAxMy4zIDExLjEgMTUuNS44LjEgMS4xLS40IDEuMS0uOHYtMi44Yy00LjUgMS01LjUtMi4yLTUuNS0yLjItLjctMS45LTEuOC0yLjQtMS44LTIuNC0xLjUtMSAuMS0xIC4xLTEgMS42LjEgMi41IDEuNyAyLjUgMS43IDEuNSAyLjUgMy44IDEuOCA0LjcgMS40LjEtMS4xLjYtMS44IDEtMi4yLTMuNi0uNC03LjQtMS44LTcuNC04LjEgMC0xLjguNi0zLjIgMS43LTQuNC0uMS0uMy0uNy0yIC4yLTQuMiAwIDAgMS40LS40IDQuNSAxLjcgMS4zLS40IDIuNy0uNSA0LjEtLjUgMS40IDAgMi44LjIgNC4xLjUgMy4xLTIuMSA0LjUtMS43IDQuNS0xLjcuOSAyLjIuMyAzLjkuMiA0LjMgMSAxLjEgMS43IDIuNiAxLjcgNC40IDAgNi4zLTMuOCA3LjYtNy40IDggLjYuNSAxLjEgMS41IDEuMSAzdjQuNWMwIC40LjMuOSAxLjEuOCA2LjUtMi4yIDExLjEtOC4zIDExLjEtMTUuNS0uMS05LTcuNC0xNi4zLTE2LjQtMTYuM3oiLz48L3N2Zz4=" alt="{{ page.title }} at GitHub" style="width:32px;">
                </a>
            </div>
            <div>
                <a href="https://twitter.com/webprolific">
                    @webprolific
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMTYyLjUiPjxwYXRoIGZpbGw9IiMwNDA0MDQiIGQ9Ik0yMDAgMTkuMmMtNy40IDMuMy0xNS4zIDUuNS0yMy42IDYuNSA4LjUtNS4xIDE1LTEzLjEgMTgtMjIuNy03LjkgNC43LTE2LjcgOC4xLTI2LjEgMTAtNy41LTgtMTguMS0xMy0zMC0xMy0yMi43IDAtNDEgMTguNC00MSA0MSAwIDMuMi40IDYuMyAxLjEgOS40LTM0LjEtMS43LTY0LjMtMTgtODQuNi00Mi45LTMuNSA2LjEtNS42IDEzLjEtNS42IDIwLjYgMCAxNC4yIDcuMiAyNi44IDE4LjMgMzQuMi02LjctLjItMTMuMS0yLjEtMTguNi01LjF2LjVjMCAxOS45IDE0LjEgMzYuNSAzMi45IDQwLjItMy40LjktNy4xIDEuNC0xMC44IDEuNC0yLjYgMC01LjItLjMtNy43LS43IDUuMiAxNi4zIDIwLjQgMjguMiAzOC4zIDI4LjUtMTQgMTEtMzEuNyAxNy42LTUxIDE3LjYtMy4zIDAtNi42LS4yLTkuOC0uNiAxOC4yIDExLjYgMzkuNyAxOC40IDYyLjkgMTguNCA3NS41IDAgMTE2LjctNjIuNSAxMTYuNy0xMTYuNyAwLTEuOCAwLTMuNS0uMS01LjMgOC4yLTUuOCAxNS4yLTEzIDIwLjctMjEuM3oiLz48L3N2Zz4=" alt="WebPro at Twitter" style="width:32px;">
                </a>
            </div>
        </section>

        <main class="readme">
            {{ content }}
        </main>

        <script src="javascripts/prism.js"></script>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-42001005-1");
                pageTracker._trackPageview();
            } catch(err) {
            }
        </script>

    </body>
</html>